# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
ij_continuation_indent_size = 2
ij_visual_guides = 120

[*.ts]
ij_typescript_use_double_quotes = false
ij_typescript_imports_layout=builtin,external,internal,blank,sibling,index
ij_typescript_sort_imports=alphabetically
ij_formatter_off_tag=/* eslint-disable */
ij_formatter_on_tag=/* eslint-enable */

[*.md]
trim_trailing_whitespace = false